:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-dark: #121212;
  --color-light: #f5f5f5;
  --bg-color: #040404;
  --light-shadow: rgba(255, 255, 255, 0.6);
  --dark-shadow: #a3b1c6;
  --default-padding: clamp(1rem, 2vw, 3rem);
  --default-shadow: 9px 9px 16px 0px var(--dark-shadow),
    -9px -9px 16px 0px var(--light-shadow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter;
}

/* preloader  */
.preloader {
  --percentage: "Loading.. 0%";
  background: var(--color-dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.preloader::before {
  content: "loading..";
  content: var(--percentage);
  position: absolute;
  right: var(--default-padding);
  bottom: var(--default-padding);
  color: var(--color-light);
  font-size: clamp(1.5rem, 2vw, 3rem);
}

/* #lottie-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
} */

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--color-light);
}

#lottie-container {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
@media (max-width: 1200px) {
  #lottie-container {
    right: -15vw;
  }
}
@media (max-width: 991px) {
  #lottie-container {
    right: -10vw;
  }
}
@media (max-width: 767px) {
  .lottie-container {
    width: 150%;
    right: 50%;
    position: relative;
  }
}
